* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    transition: 1.5s;
    margin: auto;
}
.container_login {
    width: 1920px;
    height: 1004px;
    background: url("./images/login\ back.png") no-repeat center/cover;
    position: relative;
    margin: auto;
}
.login_box {
    width: 500px;
    height: 700px;
    background: hsla(215, 93%, 83%, 0.666);
    margin: auto;
    position: absolute;
    top: 150px;
    left: 37%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.login_profile_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url("./log/login_profile_img.png") no-repeat center/cover;
    margin: 20px auto;
}
.login_text_box {
    width: 230px;
    display: flex;
    font-size: 27px;
    font-weight: 800;
    margin: 10px auto;
}
.login_text {
    margin: auto;
    opacity: 0;
    display: inline-block;
    animation: fadeInLetter 0.5s forwards;
    margin-bottom: 25px;
}
@keyframes fadeInLetter {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.L {animation-delay: 0.4s;}
.O {animation-delay: 0.7s;}
.G {animation-delay: 1s;}
.I {animation-delay: 1.3s;}
.N {animation-delay: 1.6s;}
.input_big {
    width: 100%;
    height: 50px;
    font-size: 25px;
    background: #ffffff62;
    border: none;
    padding: 6px 13px;
    border-radius: 20px;
    transition: all 0.5s ease-in;
}
.input_big:focus {
    outline: none;
}
.login_box h2 {
    margin-top: 15px;
    font-size: 25px;
    margin-left: 10px;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.input_checkbox {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.checkbox_h3 {
    margin-top: 10px;
}
.login_btn {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: rgba(0, 0, 255, 0.737);
    margin-top: 190px;
    cursor: no-drop;
    transition: 1s;
}
.login_btn a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
.login_btn:active {
    transform: scale(1.2);
}
.banner {
    width: 100%;
    height: 580px;
    position: relative;
    top: 0;
}
.back_video {
    width: 100%;
    height: 1080px;
    margin-top: -5px;
    position: absolute;
    z-index: -1;
}
.banner_vd_btn {
    position: absolute;
    bottom: -150px;
    right: 20px;
    z-index: 7;
    padding: 8px 25px;
    background: #0059fe89;
    color: #FFF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    transition: 1s;
}
.banner_vd_btn:hover {
    transform: scale(1.1);
}
.banner_vd_btn_off {
    background: #fe000089;
    display: none;
}
.navbar {
    width: 1920px;
    padding: 7px 30px;
    background: rgba(0, 4, 255, 0.632);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 0;
}
.nav_logo {
    width: 45px;
    height: 45px;
    background: url("./log/logo.jpg ") no-repeat center/cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 1.5s;
    text-align: center;
}
.nav_logo:hover {
    transform: scale(1.2);
}
.nav_logo a {
    text-decoration: none;
    font-size: 40px;
    color: #ffffff00;
}
.nav_input {
    width: 800px;
    height: 37px;
    border-radius: 20px;
    background: rgb(185, 198, 244);
    padding: 0 10px;
    font-size: 18px;
    border: none;
    color: black;
}
.nav_input::placeholder {
    color: black;
}
.nav_collections {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
.call {
    width: 40px;
    height: 40px;
    background: url("./icons/call.svg") no-repeat center/cover;
    cursor: pointer;
    transition: 1.5s;
}
.call:hover {
    transform: scale(1.2);
}
.login {
    width: 25px;
    height: 25px;
    background: url("./icons/login.png") no-repeat center/cover;
    font-size: 30px;
    transition: 0.1s;
}
.login_a {
    text-decoration: none;
    color: #ffffff00;
}
.login_profile {
    background: url("./log/login_profile_img.png") no-repeat center/cover;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: none;
}
.call_big {
    width: 300px;
    padding: 25px 40px;
    background: rgba(128, 128, 128, 0.395);
    border-radius: 20px;
    position: absolute;
    top: 60px;
    left: -240px;
    display: none;
}
.call_cancel {
    position: absolute;
    top: -10px;
    left: -7px;
    cursor: pointer;
    color: red;
}
.call_big h2 {
    font-size: 23px;
}
.romb {
    width: 30px;
    height: 30px;
    background: rgba(128, 128, 128, 0.395);
    transform: rotate(45deg);
    position: absolute;
    top: -13px;
    right: 22px;
}
.m_models {
    margin-top: 175px;
    width: 100%;
    padding: 30px;
    background: linear-gradient(135deg, red, blue);
    cursor: pointer;
}
.h1_box {
    display: flex;
    justify-content: space-between;
}
.m {
    width: 210px;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background: #ffffffd4;
    transition: 1s;
}
.m:hover {
    transform: scale(1.2);
}
.m1 {
    background: #2e4dff;
}
.modelms {
    width: 100%;
    height: 600px;
    display: flex;
    margin-top: 20px;
    border-radius: 50px;
    overflow: hidden;
}
.modelm {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.852);
}
.modelms2 {
    display: none;
}
.modelms3 {
    display: none;
}
.modelms4 {
    display: none;
}
.modelms5 {
    display: none;
}
.modelms6 {
    display: none;
}
.modelms7 {
    display: none;
}
.modelms8 {
    display: none;
}
.modelms9 {
    display: none;
}
.modelm_text {
    padding: 15px 20px;
}
.modelm_text h1 {
    font-size: 90px;
    color: red;
}
.modelm_text h2 {
    font-size: 39px;
    color: #0800ffcf;
}
.modelm1_img {
    background: url("./images/M1.jpg") no-repeat center/cover;
}
.modelm2_img {
    background: url("./images/M2.jpg") no-repeat center/cover;
}
.modelm3_img {
    background: url("./images/M3.jpg") no-repeat center/cover;
}
.modelm4_img {
    background: url("./images/M4.jpg") no-repeat center/cover;
}
.modelm5_img {
    background: url("./images/M5.jpg") no-repeat center/cover;
}
.modelm6_img {
    background: url("./images/M6.jpg") no-repeat center/cover;
}
.modelm7_img {
    background: url("./images/M7.jpg") no-repeat center/cover;
}
.modelm8_img {
    background: url("./images/M8.jpg") no-repeat center/cover;
}
.cards_main {
    width: 100%;
    background: linear-gradient(45deg, blue, rgb(0, 2, 39));
    position: relative;
}
.btn_prev, .btn_next {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #ffffffc6;
    border: none;
    color: #000;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: 1s;
    z-index: 3;
    font-weight: 800;
    top: 225px;
}
.btn_prev {
    left: 45px;
}
.btn_next {
    right: 45px;
}
.btn_prev:hover, .btn_next:hover {
    background: red;
    color: #FFF;
    transform: scale(1.1);
}
.startbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #1b48ff;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
    z-index: 15;
}
.startbtn a {
    text-decoration: none;
    color: #fff;
}
.cards {
    width: 100%;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.card {
    min-width: 585px;
    height: 450px;
    border-radius: 25px;
    flex-shrink: 0;
}
.cards::-webkit-scrollbar {
    display: none;
}
.card1 {
    background: url("./images/bmw\ laserlight.webp") no-repeat center/cover;
}
.card2 {
    background: url("./images/bmw\ interior.jpeg") no-repeat center/cover;
}
.card3 {
    background: url("./images/Speedometr.jpg") no-repeat center/cover;
}
.card4 {
    background: url("./images/2.jpeg") no-repeat center/cover;
}
.card5 {
    background: url("./images/1.jpg") no-repeat center/cover;
}
.card6 {
    background: url("./images/3.jpg") no-repeat center/cover;
}
.first_creators {
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, rgba(255, 204, 0, 0.486), rgb(125, 123, 113));
    color: #fff;
    text-align: center;
}
.BMW_founders {
    width: 100%;
    padding: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(215deg, rgba(255, 204, 0, 0.486), rgb(125, 123, 113));
}
.founders {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    transition: 1s;
}
.founders:hover {
    transform: scale(1.06);
}
.Karl {
    background: url("./images/Karl\ Rapp.jpg") no-repeat center/cover;
}
.Otto {
    background: url("./images/Gustav\ Otto.jpg") no-repeat center/cover;
}
.Karl_Otto {
    background: url("./images/Karl\ and\ Otto.jpg") no-repeat center/cover;
}
.Popp {
    background: url("./images/Franz\ Josef\ Popp.jpg") no-repeat center/cover;
}
.Karl_Otto_Popp {
    background: url("./images/bmw\ founderall1.jpg") no-repeat center/cover;
}
.BMW_founders_about {
    width: 100%;
    padding: 30px;
    background: linear-gradient(45deg, rgba(255, 204, 0, 0.486), rgb(125, 123, 113));
    border: 2px solid black;
    position: relative;
    display: none;
}
.focus {
    width: 170px;
    height: 20px;
    background: rgba(246, 22, 22, 0.776);
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: -25px;
    display: none;
}
.focus1 {
    left: 117.5px;
}
.focus2 {
    left: 496.5px;
}
.focus3 {
    left: 873.5px;
}
.focus4 {
    left: 1253.5px;
}
.focus5 {
    left: 1634.5px;
}
.persons_about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    overflow: hidden;
    border: 3px solid white;
    display: none;
}
.persons_img {
    width: 450px;
    height: 500px;
}
.dvigatel_img {
    width: 500px;
    height: 500px;
}
.p {
    width: 925px;
    height: 500px;
    padding: 10px;
    background: #FFF;
}
.p h1 {
    font-size: 45px;
    color: blue;
    margin-bottom: 5px;
}
.p h2 {
    font-size: 31px;
}
.Karl_img {
    background: url("./images/Karl\ Rapp.jpg") no-repeat center/cover;
}
.Karl_dvigatel {
    background: url("./images/Karl\ Rapp\ first\ dvigatel.jpg") no-repeat center/cover;
}
.Otto_img {
    background: url("./images/Gustav\ Otto.jpg") no-repeat center/cover;
}
.Otto_dvigatel {
    background: url("./images/Gustav\ Otto\ first\ dvigatel.jpg") no-repeat center/cover;
}
.Karl_Otto_img {
    background: url("./images/Karl\ and\ Otto.jpg") no-repeat center/cover;
}
.Karl_Otto_dvigatel {
    background: url("./images/Karl\ and\ Otto\ first\ car.jpg") no-repeat center/cover;
}
.Popp_img {
    background: url("./images/Franz\ Josef\ Popp.jpg") no-repeat center/cover;
}
.Popp_dvigatel {
    background: url("./images/Franz\ Josef\ Popp\ first\ car.jpg") no-repeat center/cover;
}
.Karl_Otto_Popp_img {
    background: url("./images/bmw\ founderall1.jpg") no-repeat center/cover;
}
.Karl_Otto_Popp_dvigatel {
    background: url("./images/bmw\ founderfirstcar.jpg") no-repeat center/cover;
}
.last_creators {
    width: 100%;
    padding: 20px;
    background: linear-gradient(215deg, rgb(0, 72, 255), rgb(255, 22, 22));
    color: #fff;
    text-align: center;
}
.main_last_creators {
    width: 100%;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    background: #2e4dff;
}
.main_last_creators h1 {
    color: red;
    font-size: 50px;
    margin-bottom: 10px;
}
.main_last_creators h2 {
    font-size: 30.5px;
}
.main_last_creators_mini {
    width: 50%;
    height: 600px;
}
.main_last_creators_Oliver_img {
    background: url("./images/Oliver\ Zipse.jpg") no-repeat center/cover;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
}
.main_last_creators_Oliver_text {
    border-radius: 0 20px 20px 0;
    padding: 20px;
    background: rgba(111, 254, 22, 0.925);
    cursor: pointer;
}
.main_last_creators_Milan_text {
    border-radius: 20px 0 0 20px;
    padding: 20px;
    background: rgba(111, 254, 22, 0.925);
    cursor: pointer;
}
.main_last_creators_Milan_img {
    background: url("./images/Milan.jpg") no-repeat center/cover;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.last_cards_main {
    width: 100%;
    background: linear-gradient(45deg, rgb(0, 72, 255), rgb(255, 22, 22));
    position: relative;
}
.last_btn_prev, .last_btn_next {
    width: 70px;
    height: 70px;
    position: absolute;
    background: #ffffffec;
    border: none;
    color: #000;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: 1s;
    z-index: 3;
    font-weight: 800;
    top: 225px;
}
.last_btn_prev:hover, .last_btn_next:hover {
    background: red;
    color: #FFF;
    transform: scale(1.1);
}
.last_btn_prev {
    left: 45px;
}
.last_btn_next {
    right: 45px;
}
.last_cards {
    width: 100%;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.last_card {
    min-width: 905px;
    height: 550px;
    border-radius: 25px;
    flex-shrink: 0;
    cursor: pointer;
    transition: 1s;
}
.last_cards::-webkit-scrollbar {
    display: none;
}
.last_card:hover {
    transform: scale(1.04);
}
.last_card2 {
    background: url("./images/2019\ M8.jpg") no-repeat center/cover;
}
.last_card3 {
    background: url("./images/2020.jpg") no-repeat center/cover;
}
.last_card4 {
    background: url("./images/2021.jpg") no-repeat center/cover;
}
.last_card5 {
    background: url("./images/2022\ BMW\ CSL.jpeg") no-repeat center/cover;
}
.last_card6 {
    background: url("./images/2022\ M4\ G82.jpg") no-repeat center/cover;
}
.last_card7 {
    background: url("./images/2023.jpg") no-repeat center/cover;
}
.last_card8 {
    background: url("./images/2024.avif") no-repeat center/cover;
}
.last_card9 {
    background: url("./images/2025.webp") no-repeat center/cover;
}
.last_card10 {
    background: url("./images/2026.jpg") no-repeat center/cover;
}
.motorcycle_models_click {
    width: 100%;
    padding: 30px;
    background: linear-gradient(215deg, blue, rgba(255, 204, 0, 0.486));
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.motorcycle_models {
    width: 13%;
    height: 80px;
    background: #edecec;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13.5px;
    padding: 25px 10px;
    text-align: center;
    transition: 1s;
}
#motorcycleModels1 {
    border: 3px solid red;
    background: #2e4dff;
    color: #FFF;
}
.motorcycle_models:hover {
    transform: scale(1.1);
    background: #2e4dff;
    color: #FFF;
}
.motorcycle_models2020:hover {
    background: linear-gradient(45deg, #2e4dff, rgba(255, 204, 0, 0.486));
}
.motorcycle_models2024:hover {
    background: rgba(255, 204, 0, 0.486);
}
.motorcycle_models_about_big {
    width: 100%;
    padding: 30px;
    background: linear-gradient(45deg, #2e4dff, rgba(255, 204, 0, 0.486));
}
.motorcycle_models_about {
    width: 100%;
    height: 730px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(215deg, #2e4dff, rgba(255, 204, 0, 0.486));
    color: #FFF;
}
.motorcycle_models_about2 {
    display: none;
}
.motorcycle_models_about3 {
    display: none;
}
.motorcycle_models_about4 {
    display: none;
}
.motorcycle_models_about5 {
    display: none;
}
.motorcycle_models_about6 {
    display: none;
}
.motorcycle_models_about7 {
    display: none;
}
.motorcycle_models_about_img {
    width: 30%;
    height: 400px;
}
.motorcycle_models_about_img1 {
    background: url("./images/motorcycle\ 1990.jpg") no-repeat center/cover;
}
.motorcycle_models_about_text {
    font-size: 25px;
    margin-left: 20px;
}
.motorcycle_models_about_text1 {
    width: 68.5%;
}
.motorcycle_models_about_text1 h1 {
    font-size: 55px;
    color: rgb(231, 48, 48);
}
.motorcycle_models_about_img2 {
    background: url("./images/motorcycle\ 2002.jpg") no-repeat center/cover;
}
.motorcycle_models_about_img3 {
    background: url("./images/motorcycle\ 2013.jpg") no-repeat center/cover;
}
.motorcycle_models_about_img4 {
    background: url("./images/motorcycle\ 2021.jpg") no-repeat center/cover;
}
.motorcycle_models_about_img5 {
    background: url("./images/motorcycle\ 2024.webp") no-repeat center/cover;
}
.motorcycle_models_about_img6 {
    background: url("./images/motorcycle\ 2025.avif") no-repeat center/cover;
}
.motorcycle_models_about_img7 {
    background: url("./images/motorcycle\ 2026.webp") no-repeat center/cover;
}
.bmw_sounds {
    width: 100%;
    padding: 40px 20px;
    background: linear-gradient(45deg, #333, #2e4dff);
    text-align: center;
    border-top: 3px solid #2e4dff;
}
.bmw_sounds h1 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 35px;
    text-transform: uppercase;
}
.sound_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.s_btn {
    padding: 20px 35px;
    background: #222;
    margin-top: 20px;
    margin-left: 55px;
    color: #fff;
    border: 1px solid #444;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s ease;
}
.s_btn:hover {
    border-color: #2e4dff;
    box-shadow: 5px 0 50px #2e4dff;
}
.active_sound {
    background: #2e4dff !important;
    border-color: #fff !important;
    transform: scale(1.1);
}
.sounds_btn {
    position: relative;
}
.stop_style {
    background: #ff000033 !important;
    border-color: #ff0000 !important;
    right: 20px;
}
.stop_style:hover {
    background: #ff0000 !important;
    box-shadow: 0 0 15px #ff0000;
}
.footer {
    background: #000;
    color: #fff;
    padding: 40px 20px 10px;
    border-top: 2px solid #2e4dff;
}
.footer_content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.footer_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}
.footer_links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.footer_links a {
    color: #bbb;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}
.footer_links a:hover {
    color: #2e4dff;
}
.footer_social p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #888;
}
.social_icons {
    display: flex;
    gap: 15px;
    cursor: pointer;
}
.footer_bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #222;
    font-size: 12px;
    color: #555;
}