* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container_login {
    width: 1920px;
    height: 1004px;
    background: url("./loginImages/login\ back.png") no-repeat center/cover;
    position: relative;
    margin: auto;
}
.login_box {
    width: 500px;
    height: 700px;
    background: hsla(215, 93%, 83%, 0.666);
    margin: auto;
    position: absolute;
    top: 150px;
    left: 37%;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.login_profile_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url("./loginImages/login_profile_img.png") no-repeat center/cover;
    margin: 20px auto;
}
.login_text_box {
    width: 230px;
    display: flex;
    font-size: 27px;
    font-weight: 800;
    margin: 10px auto;
}
.login_text {
    margin: auto;
    opacity: 0;
    display: inline-block;
    animation: fadeInLetter 0.5s forwards;
    margin-bottom: 25px;
}
@keyframes fadeInLetter {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.L {animation-delay: 0.4s;}
.O {animation-delay: 0.7s;}
.G {animation-delay: 1s;}
.I {animation-delay: 1.3s;}
.N {animation-delay: 1.6s;}
.input_big {
    width: 100%;
    height: 50px;
    font-size: 25px;
    background: #ffffff62;
    border: none;
    padding: 6px 13px;
    border-radius: 20px;
    transition: all 0.5s ease-in;
}
.input_big:focus {
    outline: none;
}
.login_box h2 {
    margin-top: 15px;
    font-size: 25px;
    margin-left: 10px;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}
.input_checkbox {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
}
.checkbox_h3 {
    margin-top: 10px;
}
.login_btn {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: rgba(0, 0, 255, 0.737);
    margin-top: 190px;
    cursor: no-drop;
    transition: 1s;
}
.login_btn a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
}
.login_btn:active {
    transform: scale(1.2);
}